astropy==8.0.1
astropy-iers-data==0.2026.7.20.15.31.18
-e git+ssh://git@github.com/rsouza01/galactic-dynamics.git@43f8b468cfd323fe420efc39218165de3c1c4d55#egg=galactic_dynamics
numpy==2.5.1
packaging==26.2
pyerfa==2.0.1.5
PyYAML==6.0.3
